<h1>
  Generate Dynamic Component

</h1>
<br>
<div style="text-align: center;">
  <form class="form-group" [formGroup]="dynamicForm">
    <input class="form-control"
      [class.is-invalid]="dynamicForm.get('formattedText').errors?.required && dynamicForm.get('formattedText').touched"
      type="text" formControlName="formattedText" placeholder="Insert Formatted text">
  </form>
  <button class="btn btn-success" [disabled]="!dynamicForm.valid" (click)="getFormData()">Submit</button>
</div>
<button class="btn btn-light" (click)="createForm()">Add Form With Test Input</button>
<br>
<app-child [demoForm]="formObj" (fireMessage)="getMessage($event)" *ngIf="formattedText!=''" [testingForm]="compForm"
  [formattedText]="formattedText"></app-child>
<!-- <button (click)="updateElement()">Required</button> -->